/* TODO: 자유롭게 바탕화면 시스템의 CSS를 만들어 보세요! */

body {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/43/50/ab/4350ab44800ce5f5fa0bce4185b02f4a.jpg");
}

.icon {
	width: 50px;
	height: 70px;
	padding: 5px;
	position: absolute;
}

.icon img {
	width: 40px;
	height: 40px;
	padding: 5px;
}

.icon p {
	color: white;
	text-shadow: 1px 1px 1px black;
	text-align: center;
	margin: 0;
}

.window {
	width: 300px;
	height: 300px;
	position: absolute;
	background-image: url("http://www.java2s.com/Tutorial/CSharpImages/EmptyForm.PNG");
}

.window p {
	margin: 0;
	padding: 0;
	position: absolute;
	font-size: 8px;
	top: 8px;
	left: 20px;
	color: white;
}

.window button {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 5px;
	left: 278px;
	padding: 0;
	background-color: transparent;
	border: none;
}
